@import "./../fx/devfx/sass/_.shared.scss";

/*------------------------------------------------------------------------------------------------*/
/* $colors */
/*------------------------------------------------------------------------------------------------*/

@import "_.shared-colors.scss";


/*------------------------------------------------------------------------------------------------*/
/* box: glow */
/*------------------------------------------------------------------------------------------------*/

$include-box-glow: false;


/*------------------------------------------------------------------------------------------------*/
/* box: shadow */
/*------------------------------------------------------------------------------------------------*/

$include-box-shadow: false;


/*------------------------------------------------------------------------------------------------*/
/* background: lighten/darken */
/*------------------------------------------------------------------------------------------------*/

$include-background-gradients: false;


/*------------------------------------------------------------------------------------------------*/
/* glyph: glow */
/*------------------------------------------------------------------------------------------------*/

$include-glyph-glow: false;


/*------------------------------------------------------------------------------------------------*/
/* glyph: shadow */
/*------------------------------------------------------------------------------------------------*/

$include-glyph-shadow: false;


/*------------------------------------------------------------------------------------------------*/
/* media */
/*------------------------------------------------------------------------------------------------*/

$include-media: true;
