/*------------------------------------------------------------------------------------------------*/
/* colors: pallete */
/*------------------------------------------------------------------------------------------------*/

/*
$color-palette: ( 
        'Black': #000000,
        'White': #FFFFFF, 
        'LightGray': #C0C0C0, 
        'Gray': #808080, 
        'DarkGray': #404040 
);
*/

/*------------------------------------------------------------------------------------------------*/
/* colors: schema */
/*------------------------------------------------------------------------------------------------*/
/*
$color-palette: color-palette-merge($color-palette, 'Color(Primary)', #FFFFFF);
$color-palette: color-palette-merge($color-palette, 'Color(Secondary)', #000000);
$color-palette: color-palette-merge($color-palette, 'Color(Accent)', #02a2c3);
*/



