@font-face {
  font-family: 'Bebas Neue';
  src: url('fonts/Bebas Neue/Bebas Neue.eot?v=1.0.1');
  src: url('fonts/Bebas Neue/Bebas Neue.eot?#iefix&v=1.0.1') format('embedded-opentype'),
       url('fonts/Bebas Neue/Bebas Neue.woff?v=1.0.1') format('woff'),
       url('fonts/Bebas Neue/Bebas Neue.ttf?v=1.0.1') format('truetype'),
       url('fonts/Bebas Neue/Bebas Neue.svg?v=1.0.1') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Coolvetica Rg';
  src: url('fonts/Coolvetica Rg/Coolvetica Rg.eot?v=1.0.1t');
  src: url('fonts/Coolvetica Rg/Coolvetica Rg.eot?#iefix&v=1.0.1') format('embedded-opentype'),
       url('fonts/Coolvetica Rg/Coolvetica Rg.woff?v=1.0.1') format('woff'),
       url('fonts/Coolvetica Rg/Coolvetica Rg.ttf?v=1.0.1') format('truetype'),
       url('fonts/Coolvetica Rg/Coolvetica Rg.svg?v=1.0.1') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu-R';
  src: url('fonts/Ubuntu-R/Ubuntu-R.eot?v=1.0.1');
  src: url('fonts/Ubuntu-R/Ubuntu-R.eot?#iefix&v=1.0.1') format('embedded-opentype'),
       url('fonts/Ubuntu-R/Ubuntu-R.woff?v=1.0.1') format('woff'),
       url('fonts/Ubuntu-R/Ubuntu-R.ttf?v=1.0.1') format('truetype'),
       url('fonts/Ubuntu-R/Ubuntu-R.svg?v=1.0.1') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu-M';
  src: url('fonts/Ubuntu-M/Ubuntu-M.eot?v=1.0.1');
  src: url('fonts/Ubuntu-M/Ubuntu-M.eot?#iefix&v=1.0.1') format('embedded-opentype'),
       url('fonts/Ubuntu-M/Ubuntu-M.woff?v=1.0.1') format('woff'),
       url('fonts/Ubuntu-M/Ubuntu-M.ttf?v=1.0.1') format('truetype'),
       url('fonts/Ubuntu-M/Ubuntu-M.svg?v=1.0.1') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu-B';
  src: url('fonts/Ubuntu-B/Ubuntu-B.eot?v=1.0.1');
  src: url('fonts/Ubuntu-B/Ubuntu-B.eot?#iefix&v=1.0.1') format('embedded-opentype'),
       url('fonts/Ubuntu-B/Ubuntu-B.woff?v=1.0.1') format('woff'),
       url('fonts/Ubuntu-B/Ubuntu-B.ttf?v=1.0.1') format('truetype'),
       url('fonts/Ubuntu-B/Ubuntu-B.svg?v=1.0.1') format('svg');
  font-weight: normal;
  font-style: normal;
}





