/*------------------------------------------------------------------------------------------------*/
/* reserved class names */
/*------------------------------------------------------------------------------------------------*/

/*
    disabled
    readonly
    selected
    active
    checked
    hidden
    form
    */

/*------------------------------------------------------------------------------------------------*/
/* * */
/*------------------------------------------------------------------------------------------------*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;

  margin: 0 0 0 0;
  border: none;
  outline: none;
  padding: 0 0 0 0;
  background-color: transparent;
  color: inherit;
  font: inherit;
}


/*------------------------------------------------------------------------------------------------*/
/* tags */
/*------------------------------------------------------------------------------------------------*/

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body { }

iframe { }

div {
  position: relative;
  direction: ltr;
  text-align: left;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td {
  direction: ltr;
  text-align: left;
}

a {
  text-decoration: none;
}

ol, ul {
  list-style: none;
}

img {
  vertical-align: middle;
}

b {
  font-weight: bold;
}

i {
  font-style: italic;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

P {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

$h_size: 1.0rem;
$h_i: 0;
@while($h_i <= 5) { 
  h#{6 - $h_i} {
    font-weight: bold;
    font-size: $h_size;
    padding-top: 0.25*$h_size;
    padding-bottom: 0.25*$h_size;
  }
  
  $h_size: $h_size*1.25;
  $h_i: $h_i + 1; 
}


script {
  display: none;
}

style {
  display: none;
}




