/*------------------------------------------------------------------------------------------------*/
/* @$vpx */
/*------------------------------------------------------------------------------------------------*/

$rem: 1.0rem;
$rempx: (1.0*$rem)/16.0;


/*------------------------------------------------------------------------------------------------*/
/* $colors */
/*------------------------------------------------------------------------------------------------*/

@import "_.shared-colors.scss";


/*------------------------------------------------------------------------------------------------*/
/* $opacity */
/*------------------------------------------------------------------------------------------------*/

$opacity_list: (0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100);


/*------------------------------------------------------------------------------------------------*/
/* box: margin */
/*------------------------------------------------------------------------------------------------*/

$box-margin-indexes: ();
@for $i from 0 through 64 {
  $box-margin-indexes: append($box-margin-indexes, $i);
}


/*------------------------------------------------------------------------------------------------*/
/* box: padding */
/*------------------------------------------------------------------------------------------------*/

$box-padding-indexes: ();
@for $i from 0 through 64 {
  $box-padding-indexes: append($box-padding-indexes, $i);
}


/*------------------------------------------------------------------------------------------------*/
/* box: corner-radius */
/*------------------------------------------------------------------------------------------------*/

$box-corner-radius-indexes: ();
@for $i from 0 through 32 {
  $box-corner-radius-indexes: append($box-corner-radius-indexes, $i);
}


/*------------------------------------------------------------------------------------------------*/
/* box: glow */
/*------------------------------------------------------------------------------------------------*/

$include-box-glow: false;
$box-glow-blur-radius-unit: 1.0*$rempx;
$box-glow-blur-radius-indexes: (0, 1, 2, 3, 4, 5, 6, 7, 8);


/*------------------------------------------------------------------------------------------------*/
/* box: shadow */
/*------------------------------------------------------------------------------------------------*/

$include-box-shadow: true;
$box-shadow-h-unit: 1.0*$rempx;
$box-shadow-h-indexes: (-4, -3, -2, -1, 0, 1, 2, 3, 4);
$box-shadow-v-unit: 1.0*$rempx;
$box-shadow-v-indexes: (-4, -3, -2, -1, 0, 1, 2, 3, 4);
$box-shadow-blur-radius-unit: 1.0*$rempx;
$box-shadow-blur-radius-indexes: (0, 1, 2, 3, 4, 5, 6, 7, 8);


/*------------------------------------------------------------------------------------------------*/
/* background: lighten/darken */
/*------------------------------------------------------------------------------------------------*/

$include-background-gradients: true;


/*------------------------------------------------------------------------------------------------*/
/* glyph: glow */
/*------------------------------------------------------------------------------------------------*/

$include-glyph-glow: true;
$glyph-glow-blur-radius-unit: 1.0*$rempx;
$glyph-glow-blur-radius-indexes: (0, 1, 2, 3, 4, 5, 6, 7, 8);


/*------------------------------------------------------------------------------------------------*/
/* glyph: shadow */
/*------------------------------------------------------------------------------------------------*/

$include-glyph-shadow: true;
$glyph-shadow-h-unit: 1.0*$rempx;
$glyph-shadow-h-indexes: (-4, -3, -2, -1, 0, 1, 2, 3, 4);
$glyph-shadow-v-unit: 1.0*$rempx;
$glyph-shadow-v-indexes: (-4, -3, -2, -1, 0, 1, 2, 3, 4);
$glyph-shadow-blur-radius-unit: 1.0*$rempx;
$glyph-shadow-blur-radius-indexes: (0, 1, 2, 3, 4, 5, 6, 7, 8);


/*------------------------------------------------------------------------------------------------*/
/* media */
/*------------------------------------------------------------------------------------------------*/

$include-media: true;

