/*------------------------------------------------------------------------------------------------*/
/* border */
/*------------------------------------------------------------------------------------------------*/

[class-border~=""] {
}


/*------------------------------------------------------------------------------------------------*/
/* border: color */
/*------------------------------------------------------------------------------------------------*/

@each $color_name, $color_value in $color-palette {
  [class-border~="#{$color_name}"],
  [class-border~="#{$color_name}:hover"]:hover,
  [class-border~="#{$color_name}:focus"]:focus,
  [class-border~="#{$color_name}:active"]:active {
    border-color: $color_value;
    border-style: solid;
    border-width: thin;
  }
}


/*------------------------------------------------------------------------------------------------*/
/* border: style */
/*------------------------------------------------------------------------------------------------*/

@each $style in (none, dotted, dashed, solid, double, groove, ridge, inset, outset) {
  [class-border~="#{$style}"] {
    border-style: #{$style};
  }
}


/*------------------------------------------------------------------------------------------------*/
/* border: width */
/*------------------------------------------------------------------------------------------------*/

[class-border~="thin"] {
  border-width: thin;
}
[class-border~="medium"] {
  border-width: medium;
}
[class-border~="thick"] {
  border-width: thick;
}

